
#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}

.word {
    padding: 12px;
    background: #eee;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}

.word.selected {
    background: #aaf;
}

#completedGroups {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.completedGroup {
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.groupTitle {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 24px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.groupWords {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.groupWord {
  padding: 4px;
  background: transparent;
  border-radius: 6px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  min-width: 80px;
  box-sizing: border-box;
}

.groupFound.yellow { background: #ffe680; }
.groupFound.green { background: #b3ffb3; }
.groupFound.blue { background: #b3d9ff; }
.groupFound.purple { background: #e6ccff; } 

